body{
    margin-left: 25%;
    margin-top: 5%;
    margin-right: 25%;
}
.Cajabase{
    padding-top: 15px;
    padding-left: 8px;
    padding-right: 8px;
    border: 1px solid gray;
    width: auto;
    height: 120px;
    display: flex;
    justify-content: space-between;
}

.Apagado { 
    background-color: gray;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    
}