input{
    margin-bottom: 15px;
}

div{
    left: 0px;
}

#d1{
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: red;
}

#d2{
    width: 100px;
    height: 100px;
    margin-top: 120px;
    position: absolute;
    background-color: blue;
}

#d3{
    width: 100px;
    height: 100px;
    margin-top: 240px;
    position: absolute;
    background-color: green;
}

#d4{
    width: 100px;
    height: 100px;
    margin-top: 360px;
    position: absolute;
    background-color: orange;
}